name: Updater

on:
  schedule:
  - cron: 33 3 * * 0
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  updater:
    name: Updater
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Setup ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ruby
        bundler-cache: true
    - name: Install binutils-aarch64-linux-gnu
      run: sudo apt-get install -y --no-install-recommends binutils-aarch64-linux-gnu
    - name: Install UPX
      uses: crazy-max/ghaction-upx@v3
      with:
        install-only: true
    - name: Run updater
      run: bundle exec ruby bin/updater
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
